@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

.sosialmedia-container {
  display: flex;
}
.profile-teks {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}
.p-teks-2 {
  color: #999999;
}
.p-share {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}
.p-mount {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}
